/*
    Document   : client/css/style.css
    Created on : 2016-05-26 07:29 PM
    Author     : spacegeek224
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
    overflow: hidden;}